# Fuente de datos: "api" (URBA directo) | "db" (SQLite local)
DATA_SOURCE=api

# URL base imágenes de URBA
IMAGE_BASE_URL=https://urbaimagenes-cddyfadwc8dqcchn.z03.azurefd.net

# URL base de la API de URBA
URBA_API_BASE_URL=https://api.urba.org.ar/api

# Puerto del servidor
PORT=3001

# Base de datos (Prisma)
DATABASE_URL="file:./dev.db"
